.ava-text {
  text-align: center;
  line-height: 0.5rem;
}
.img-ava {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 80px;
  width: 100px;
}
.avatar {
  padding-bottom: 150px;
  padding-top: 50px;
}