.head-blog { 
    text-align: center !important;
    padding-top: 30px;
}
.article-list {
    list-style: cjk-decimal;
}

.staticpage {
    padding-top: 100px;
    padding-bottom: 150px;
}
.blog {
    padding-bottom: 150px !important;
}
.staticpage article {
    text-align: center;
}
.time {
    text-align: center;
}
img {
    width: 100%;
}