<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description | htmlEscape }}">
    <link rel="icon" type="image/x-icon" href="{{ .Site.Params.favicon | absURL }}">
    {{ with $style := resources.Get "main.scss" | resources.ToCSS (dict "targetPath" "/css/style.css") | minify | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $style.Permalink | safeURL }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous"> 
    {{ end }}

</head>

<title>
    {{ if .IsHome }}
     {{ .Site.Title | htmlEscape }}
   {{ else if .Page.Title }}
     {{ .Page.Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}
   {{ else }}
     {{ .Site.Title | htmlEscape }}
   {{ end }}
</title> 